<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,0},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,0},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,0},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,0},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,0},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,0},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,182},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,182},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,182},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_picker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,182},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_reverse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,182},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_skip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,182},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,182},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_back_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,364},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,364},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,364},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,364},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,364},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,364},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,364},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,546},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,546},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,546},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,546},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_picker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,546},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_reverse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,546},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_skip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,546},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,728},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,728},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,728},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,728},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,728},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,728},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,728},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,910},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,910},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,910},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_picker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,910},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_reverse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,910},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_skip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,910},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wild_color_changer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,910},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wild_pick_four.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,1092},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,1092},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,1092},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,1092},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,1092},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,1092},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,1092},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,1274},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,1274},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,1274},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,1274},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_picker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,1274},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_reverse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,1274},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_skip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,1274},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cartasUno.png</string>
            <key>size</key>
            <string>{910,1456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a7fe4c6ac12705807c1629430ec1ce2:1049450c0c9f8e41c3310a518a410048:0ea48cad14e294dd84210d9817ca27c4$</string>
            <key>textureFileName</key>
            <string>cartasUno.png</string>
        </dict>
    </dict>
</plist>
