<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13_4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{0,0},{390,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{390,0},{390,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{780,0},{390,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1170,0},{390,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{0,546},{390,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{390,546},{390,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{780,546},{390,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1170,546},{390,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cartas_especias_coloridas.png</string>
            <key>size</key>
            <string>{1560,1092}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c11c6e13d602f0dabd8796bef2c95b5:51c930c1e9c205eb87f9f3694413fd21:e1a7fc1b6d81781f1a5c3b8301423f68$</string>
            <key>textureFileName</key>
            <string>cartas_especias_coloridas.png</string>
        </dict>
    </dict>
</plist>
