<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,0},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,0},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,0},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,0},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,0},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,0},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,182},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,182},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,182},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,182},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,182},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,182},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,182},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_back_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,364},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,364},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,364},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,364},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,364},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,364},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,364},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,546},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,546},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,546},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,546},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,546},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,546},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,546},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,728},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,728},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,728},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,728},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,728},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,728},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,728},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,910},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,910},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,910},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,910},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,910},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,910},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,910},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,1092},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,1092},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,1092},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,1092},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,1092},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,1092},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,1092},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{0,1274},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{130,1274},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{260,1274},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{390,1274},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{520,1274},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{650,1274},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,182}</string>
                <key>spriteSourceSize</key>
                <string>{130,182}</string>
                <key>textureRect</key>
                <string>{{780,1274},{130,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cartasUno.png</string>
            <key>size</key>
            <string>{910,1456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a7fe4c6ac12705807c1629430ec1ce2:1049450c0c9f8e41c3310a518a410048:0ea48cad14e294dd84210d9817ca27c4$</string>
            <key>textureFileName</key>
            <string>cartasUno.png</string>
        </dict>
    </dict>
</plist>
